{{#nodes}}
    <div class=" col-lg-4">
        <div class="chain-panel">
            <div class="chain-panel-heading">
                <h4>Chain #1</h4>
            </div>
            <dl class="separated">
                <dt>Item1</dt>
                <dd>Descr Item1</dd>
                <dt>Item2</dt>
                <dd>Descr Item2</dd>
                <dt>Item3</dt>
                <dd>Descr Item3</dd>
            </dl>
        </div>
    </div>
{{/nodes}}