<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Onion Routing</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="page-header">
        <h2 class="pull-left">
            Onion Routing Cockpit
        </h2>
        <div class="pull-right">
            <div class="new-chain-btn">
                <form class="form-inline" id="newCainForm">
                    <div class="form-group">
                        <label for="inputHostName">Host</label>
                        <input type="text" class="form-control" id="inputHostName" placeholder="{{default-hostname}}">
                    </div>
                    <div class="form-group">
                        <label for="inputPort">Port</label>
                        <input type="text" class="form-control" id="inputPort" placeholder="{{default-port}}">
                    </div>
                    <button type="submit" id="new-chain" class="btn btn-primary">New Chain</button>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>


    <div class="row" id="content">
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script type="application/javascript">
    $(document).ready(function () {
        $("#newCainForm").submit(function() {
            $("#new-chain").attr("readonly", "readonly");
            $.ajax(
                    {
                        url:"/requestChain",
                        data: {
                            host: $("#inputHostName").attr("readonly", "readonly").val(),
                            port : $("#inputPort").attr("readonly", "readonly").val()
                        },
                        async: false,
                        success:function(result){
                        }
                    }
            );
        });
        var periodic = function() {
            $.ajax(
                    {
                        url:"/requestOverview",
                        success:function(result){
                            $("#content").html(result);
                        }
                    }
            );
        };
        periodic();
        setInterval(periodic, 5000);
    });
</script>
</body>
</html>