<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
    <servlet>
        <servlet-name>root</servlet-name>
        <servlet-class>at.ac.tuwien.aic.ws14.group2.onion.node.local.web.RootServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>requestChain</servlet-name>
        <servlet-class>at.ac.tuwien.aic.ws14.group2.onion.node.local.web.RequestChainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>requestDetail</servlet-name>
        <servlet-class>at.ac.tuwien.aic.ws14.group2.onion.node.local.web.RequestDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>requestOverview</servlet-name>
        <servlet-class>at.ac.tuwien.aic.ws14.group2.onion.node.local.web.RequestOverviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getChainBoxes</servlet-name>
        <servlet-class>at.ac.tuwien.aic.ws14.group2.onion.node.local.web.GetChainBoxesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getReceivedData</servlet-name>
        <servlet-class>at.ac.tuwien.aic.ws14.group2.onion.node.local.web.GetReceivedDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getInfoData</servlet-name>
        <servlet-class>at.ac.tuwien.aic.ws14.group2.onion.node.local.web.GetInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>root</servlet-name>
        <url-pattern>/onion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>requestChain</servlet-name>
        <url-pattern>/requestChain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>requestDetail</servlet-name>
        <url-pattern>/requestDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>requestOverview</servlet-name>
        <url-pattern>/requestOverview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getChainBoxes</servlet-name>
        <url-pattern>/getChainBoxes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getReceivedData</servlet-name>
        <url-pattern>/getReceivedData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getInfoData</servlet-name>
        <url-pattern>/getInfoData</url-pattern>
    </servlet-mapping>
</web-app>